.chart-top-travel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 30px;
    background-color: white;

    .header-top{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .chart{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: row;

        .schema{
            width: 40%;
            background-color: #f5f7fb;
        }

        .revenue{
            width: 53%;
            height: 100%;
            margin-left: 30px;
            background-color: #f5f7fb
        }
    }
}